.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  flex-grow: 0;
}

.movie {
  width: 100px;
  text-align: center;
}

.movie-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-image {
  width: 100px;
  height: 140px;
  border: 1px solid #ccc;
  background: repeating-linear-gradient(
      -45deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
  );
}
